<article class="article archives-cv article-type-normal" itemscope="">
  <header class="article-header">
    <h1 itemprop="title"><%= page.title %></h1>
  </header>
  <div class="article-body">
    <%- page.content %>
  </div>
</article>
